h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    text-align: center;
    color: rgb(236, 61, 143);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.445);
    border-color: black;
    z-index: 1;
    padding: 30px;
}

main {
    padding: 20px;
    margin: auto;
    width: 800px;
    background-image: url(https://pbs.twimg.com/media/EZDTxa3XQAMnfY2.jpg);
    background-size: 840px;
    border-radius: 20px;
}

#tchau {
    margin: auto;
    padding: 85px;
    width: 650px;
}

#bottom {
    margin: auto;
    padding: 300px;
    padding-top: 10px;
    padding-bottom: 50px;
}

body {
    background-color: rgba(238, 162, 162, 0.836);
}